body {
	background: #f5f5f5;
	font: 60% arial;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#logo {
	width: 100%;
	margin-top: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo > img {
	height: 200px;
}

#cotation-values {
	color: #2fc594;
	font-size: 2em;
	letter-spacing: 0.05em;
	margin: 1em 1em 0.5em 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: calc(100% - 4em);
}

.values-wrapper {
	color: #d8d8d8;
	width: 100%;
	font-size: 2em;
	margin: 0.4em;
	padding: 0.2em;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}

.values-wrapper .currency-symbol {
	margin-right: 0.3em;
	transition: all 0.3s ease-in-out;
	text-align: center;
	margin-top: 5px;
	min-width: 135px;
}

.values-wrapper input {
	outline: 0;
	border: 0;
	border-bottom: 2px solid #c8c8c8;
	color: #909090;
	font-family: verdana;
	font-size: 1em;
	text-align: center;
	min-width: 2.4em;
	transition: all 0.3s ease-in-out;
}

.values-wrapper,
.values-wrapper input {
	color: #c8c8c8;
	background: transparent;
}

.cotacao-active .values-wrapper,
.cotacao-active .values-wrapper input {
	background: #bbffe9;
}

#middle-text {
	min-width: 130px;
	text-align: center;
}

@media (min-width: 1500px) {
	#logo {
		width: 100%;
		margin-top: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#logo > img {
		height: 300px;
	}

	#cotation-values {
		color: #2fc594;
		font-size: 2em;
		letter-spacing: 0.05em;
		margin: 1em 1em 0.5em 1em;
		padding: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: calc(100% - 4em);
	}

	.values-wrapper {
		color: #d8d8d8;
		font-size: 2.5em;
		margin: 0.4em;
		padding: 0.2em;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease-in-out;
	}

	.values-wrapper .currency-symbol {
		margin-right: 0.3em;
		transition: all 0.3s ease-in-out;
		text-align: right;
		margin-top: 5px;
		min-width: unset;
	}

	.currency-symbol-from {
		min-width: 150px;
	}
}

.history {
	color: #d8d8d8;
    font-size: 2.5em;
}

.history-value {
	color: #585858;
}