body {
	background: #f5f5f5;
	font: 60% arial;
}

#logo {
	margin-top: 5%;
	background: transparent url(./images/logo.png) no-repeat center center;
	background-size: 200px;
	height: 200px;
	margin-right: auto;
}

#cotation-values {
	color: #2fc594;
	font-size: 2em;
	letter-spacing: 0.05em;
	word-spacing: -0.3em;
	margin: 10em 0.9em 0.5em 0.9em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.values-wrapper {
	color: #d8d8d8;
	font-size: 3em;
	margin: 0 0.1em;
	padding: 0 0.07em 0.03em;
	float: left;
	clear: left;
	font-size: 1.4em;
	display: flex;
	align-items: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.values-wrapper:first-child {
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.values-wrapper input {
	outline: 0;
}

.values-wrapper .currency-symbol {
	display: inline-block;
	text-align: left;
	width: 2.1em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input#fromCurrency,
input#toCurrency {
	border: 0;
	color: #909090;
	font-family: verdana;
	font-size: 1em;
	margin-left: 0.1em;
	text-align: right;
	width: 2.3em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.values-wrapper input {
	min-width: 3.9em;
	max-width: 3.9em;
}

@media (min-width: 239px) {
	.values-wrapper input {
		min-width: 4.6em;
		max-width: 4.6em;
	}
}

@media (min-width: 299px) {
	.values-wrapper {
		font-size: 1.8em;
	}
	.values-wrapper input {
		min-width: 4.7em;
		max-width: 4.7em;
	}
}

@media (min-width: 319px) {
	.values-wrapper input {
		min-width: 5.3em;
		max-width: 5.3em;
	}
}

@media (min-width: 359px) {
	.values-wrapper {
		font-size: 2em;
	}
	.values-wrapper input {
		min-width: 5.5em;
		max-width: 5.5em;
	}
}

.values-wrapper,
.values-wrapper input {
	color: #c8c8c8;
	background: transparent;
}

.cotacao-active .values-wrapper,
.cotacao-active .values-wrapper input {
	background: #bbffe9;
}

/* ajustes para ipad e desktop */
@media (min-width: 641px) {
	#logo {
		margin-top: 10%;
	}

	#cotation-values {
		font-size: 1.2em;
		margin-top: 4%;
	}

	#cotation-values .optional {
		display: inline;
	}

	.values-wrapper {
		float: none;
		clear: none;
		font-size: 3em;
	}

	.values-wrapper input,
	.values-wrapper input#fromCurrency {
		min-width: 0;
		max-width: none;
	}

	.values-wrapper .currency-symbol {
		width: auto;
	}

	.values-wrapper:first-child {
		margin: 0 0.1em;
	}
}

@media (min-width: 780px) {
	#cotation-values {
		font-size: 1.4em;
	}
}

@media (min-width: 880px) {
	#cotation-values {
		font-size: 1.6em;
	}
}

@media (min-width: 1020px) {
	#cotation-values {
		font-size: 2em;
	}
}
